@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #d2d2d2;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}